---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Angular",
    icon: "frameworks/preact",
    url: "https://angular.io/",
  },
  {
    title: "Astro",
    icon: "frameworks/svelte",
    url: "https://astro.build/",
  },
  {
    title: "Spring",
    icon: "frameworks/vue",
    url: "https://spring.io//",
  },
  {
    title: "NestJS",
    icon: "frameworks/solid",
    url: "https://nestjs.com/",
  },
  {
    title: "Express",
    icon: "frameworks/lit",
    url: "https://expressjs.com/es/ ",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Netlify",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Render",
    icon: "platforms/render",
    url: "https://render.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="Tecnologías" id="compatibility">
  <Fragment slot="lead">
    Code & Mate <span class="text-primary">innova</span>. Traenos tu <span class="text-primary">idea</span> y nosotros la hacemos <span class="text-primary">realidad</span>.
    Utilizamos tecnología de vanguardia para que tu proyecto sea <span class="text-primary">único</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Plataformas"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
