---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Proyectos a medida",
    description:
      "Nuestros proyectos son realizados y diseñados a medida, para que puedas personalizar tu sitio o aplicación según tus necesidades.",
    icon: "mdi:handshake",
  },
  {
    title: "Diseños Adaptables",
    description:
      "Nuestros proyectos están adaptados a las diferentes pantallas de los dispositivos que se conecten a tu aplicación o sitio web.",
    icon: "mdi:cellphone-link",
  },
  {
    title: "Seguros y Rápidos",
    description:
      "Nuestros sistemas y aplicaciones tienen garantía y certificados de seguridad que protegen tu información de posibles atacantes.",
    icon: "mdi:shield-check",
  },
  {
    title: "Bajo Costo",
    description:
      "Nuestros precios son adaptables a los bolsillos de todos los niveles de emprendimientos, empresas y particulares. Tenemos precios accesibles y tasa diferencial para empresas.",
    icon: "mdi:currency-usd",
  },
  {
    title: "SEO Optimizado",
    description:
      "Todos nuestros proyectos web cuentan con optimización de SEO y posicionamiento web para que destaques tu marca y atraigas a más clientes.",
    icon: "mdi:search-web",
  },
  {
    title: "Comunidad",
    description:
      "Contamos con una comunidad de profesionales especializados que están a disposición para asesorarte en cada paso desde la creación hasta la entrega de tus proyectos.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Características" id="features">
  <Fragment slot="lead">
    Nuestros proyectos vienen con un mantenimiento incluído<span class="text-primary"> 24/7</span>. Tomamos
    las mejores herramientas de
    <span class="text-primary">ultima generación</span>
     para desarrollar tu mejor <span class="text-primary">aplicación</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
