---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://codeandmate.com.ar/",
    description: "Code & Mate Academy official website",
    icon: "mdi:school",
  },
  /* {
    url: "https://github.com/CodeAndMate",
    description: "Code & Mate on GitHub",
    icon: "fa-brands:github-alt",
  }, */
  {
    url: "https://api.whatsapp.com/send?phone=5491123973213",
    description: "Code & Mate on Whatsapp",
    icon: "fa-brands:whatsapp",
  },
  {
    url: "https://www.linkedin.com/company/code-mate/",
    description: "Code & Mate on LinkedIn",
    icon: "fa-brands:linkedin",
  },
  {
    url: "https://www.instagram.com/codeandmate_ok/",
    description: "Code & Mate on Instagram",
    icon: "fa-brands:instagram",
  },
  /* {
    url: "https://astro.build/chat",
    description: "Astro on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  }, */
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
            target="_blank"
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
  <!-- add copyright  -->
  <div class="absolute bottom-0 inset-x-0 p-4 text-center text-slate-100">
    <p>
      &copy; 2023 Code & Mate. Derechos Reservados.
    </p>
  </div>
</footer>
