---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Code & Mate" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <img slot="eyebrow" src="/src/assets/Logo.png" class="h-24 w-22 md:h-32" />
  <Fragment slot="lead">
    Code <span class="text-primary">&</span> Mate es una Consultora de Software especializada en el desarrollo de 
    <span class="text-primary">sitios web</span> modernos,
    <span class="text-primary">ultrarápidos</span>
     y <span class="text-primary">potentes</span> para una mejor<span class="text-primary"> experiencia</span>.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="#features"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Conocenos</span>
    </a>
    <a
      href="https://www.codeandmate.com.ar/"
      target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Academia</span>
    </a>
  </div>
</ContentSection>
